<div class="min-h-full">
  <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
      </div>
  </header>

  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <div class="mt-10" id="incomes">
        <h3 class="text-2xl font-bold tracking-tight text-gray-900">Incomes</h3>

        <%= turbo_frame_tag "new_income_frame" do %>
          <div class="header">
              <%= link_to "New income", new_income_path %>
          </div>
        <% end %>
        <% @incomes.each do |income| %>
          <div class="py-3">
            <%= turbo_frame_tag "income_#{income.id}" do %>
                <%= render income %>
                <p class="py-3"><%= link_to "Edit Income", edit_income_path(income), class:"btn btn-primary" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <div class="mt-10", id="fixed_expenses">
        <h3 class="text-2xl font-bold tracking-tight text-gray-900">Fixed Expenses</h3>
        <%= turbo_frame_tag "new_fixed_expense_frame" do %>
          <%= link_to "New Fixed Expense", new_fixed_expense_path %>
        <% end %>
      </div>
      <% @fixed_expenses.each do |fixed_expense| %>
        <div class="py-3">
          <%= turbo_frame_tag "fixed_expense_#{fixed_expense.id}" do %>
            <%= render fixed_expense %>
            <p class="py-3"><%= link_to "Edit Fixed Expense", edit_fixed_expense_path(fixed_expense), class:"btn btn-primary" %></p>
          <% end %>
        </div>
      <% end %>
    </div>
  </main>
</div>