<div class="min-h-full">
  <header class="bg-white shadow">
      <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
          <h1 class="text-3xl font-bold tracking-tight text-gray-900">Dashboard</h1>
      </div>
  </header>

  <main>
    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">
      <div class="mt-5" id="incomes">

        <%= turbo_frame_tag "new_income_frame" do %>
          <div class="header">
            <h3 class="text-2xl font-bold tracking-tight text-gray-900">Incomes</h3>
              <%= link_to "New income", new_income_path %>
          </div>
        <% end %>

        <% @incomes.each do |income| %>
          <div class="py-3">
            <%= turbo_frame_tag "income_#{income.id}" do %>
                <%= render income %>
                <p class="py-3"><%= link_to "Edit this Income", edit_income_path(income), class:"rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %></p>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="mx-auto max-w-7xl py-6 sm:px-6 lg:px-8">

      <%= turbo_frame_tag "fixed_expense_header_frame" do %>
        <div class="mt-5">
          <h3 class="text-2xl font-bold tracking-tight text-gray-900">Fixed Expenses</h3>
          <%= link_to "New Fixed Expense", new_fixed_expense_path, data: { turbo_frame: "fixed_expenses"} %>
        </div>
      <% end %>

      <%= turbo_frame_tag "fixed_expenses" do %>
        <%= render @fixed_expenses %>
      <% end %>
    </div>
  </main>
</div>