<%= turbo_frame_tag "dashboard_toolbar" do %>
  <ul class="flex flex-wrap justify-center text-sm font-medium text-center text-gray-500 border-b border-gray-200">
    <li>
      <%= link_to "Budget Calculator", root_path, data: { turbo_stream: true }, class: active_tab == :budget_calculator ? "active-toolbar-tab" : "inactive-toolbar-tab" %>
    </li>
    <li>
      <%= link_to "Federal Tax Brackets", federal_tax_brackets_path, data: { turbo_stream: true }, class: active_tab == :federal_tax_brackets ? "active-toolbar-tab" : "inactive-toolbar-tab" %>
    </li>
    <li>
      <%= link_to "Incomes", incomes_path, data: { turbo_stream: true }, class: active_tab == :incomes ? "active-toolbar-tab" : "inactive-toolbar-tab" %>
    </li>
    <li>
      <%= link_to "Fixed Expenses", fixed_expenses_path, data: { turbo: false }, class: active_tab == :fixed_expenses ? "active-toolbar-tab" : "inactive-toolbar-tab" %>
    </li>
  </ul>
<% end %>
