<div id="<%= dom_id savings_rate %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= savings_rate.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Rate:</strong>
    <%= savings_rate.rate %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this savings rate", savings_rate, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this savings rate', edit_savings_rate_path(savings_rate), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
