<%= form_with(model: income) do |form| %>
  <% if income.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(income.errors.count, "error") %> prohibited this income from being saved:</h2>

      <ul>
        <% income.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :income_type, style: "display: block" %>
    <%= form.select :income_type, [["Hourly", "HR"], ["Salary", "SA"], ["Other", "OT"]] %>
  </div>

  <div>
    <%= form.label :rate, style: "display: block" %>
    <%= form.number_field :rate %>
  </div>

  <div>
    <%= form.label :hours, style: "display: block" %>
    <%= form.number_field :hours %>
  </div>

  <div>
    <%= form.label :weekly_income, style: "display: block" %>
    <%= form.number_field :weekly_income %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
