<div id="<%= dom_id income %>">
  <p>
    <strong>Income type:</strong>
    <%= income.income_type %>
  </p>

  <p>
    <strong>Rate:</strong>
    <%= income.rate %>
  </p>

  <p>
    <strong>Hours:</strong>
    <%= income.hours %>
  </p>

  <p>
    <strong>Weekly income:</strong>
    <%= income.weekly_income %>
  </p>

</div>
