<div id="<%= dom_id fixed_expense %>">

  <strong>Expense Name:</strong>
  <%= fixed_expense.expense_name %>

  <strong>Annual cost:</strong>
  <%= humanized_money_with_symbol(fixed_expense.annual_cost) %>

  <strong>Monthly cost:</strong>
  <%= humanized_money_with_symbol(fixed_expense.monthly_cost)%>

  <strong>Bi-weekly cost:</strong>
  <%= humanized_money_with_symbol(fixed_expense.bi_weekly_cost) %>

  <%= link_to "Edit this Fixed Expense", edit_fixed_expense_path(fixed_expense), class:"rounded-lg py-1 px-4 bg-gray-100 inline-block font-medium" %>
</div>
